<div class="bg-light full-screen">
  <div class="container">
    <div class="skills-header">
      <h1 class="skills-header-text">My Skills</h1>
      <div class="underline"></div>
    </div>

    <div fxLayout="column" style="min-height: 100vh">
      <div fxFlex="50%" fxLayout="row" fxLayoutAlign="none center">
        <div fxFlex="20%" fxFlex.lt-md="100%">
          <div class="skill-title">Programming Language</div>
        </div>
        <div class="language-charts" fxFlex="80%" fxFlex.lt-md="100%">
          <ngx-charts-pie-grid
            [scheme]="colorScheme"
            [results]="language"
            (select)="onSelect($event)"
            [minWidth]="minWidth"
            [label] = "''"
            [designatedTotal] = "designatedTotal"
          >
          </ngx-charts-pie-grid>
        </div>
      </div>
      <div
        fxFlex="50%"
        fxLayout="row"
        fxLayoutAlign="none center"
        style="padding-left: 100px"
      >
        <div fxFlex="20%" fxFlex.lt-md="100%">
          <div class="skill-title">Frameworks & Tools</div>
        </div>

        <div fxFlex="80%" fxFlex.lt-md="100%">
          <ngx-charts-bar-horizontal
            [results]="frameWorkAndTools"
            [view]="frameWorkAndToolsView"
            [scheme]="frameWorkAndToolsColorScheme"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [xScaleMax] = "xScaleMax"
          >
          </ngx-charts-bar-horizontal>
        </div>
      </div>
    </div>
  </div>
</div>
