<div class="bg-dark text-white full-screen">
  <div class="row" style="padding-top: 100px">
    <div class="col-sm-6">
      <div class=" description">
          <h1 style="font-size: 40px;">Hey, I'm Debasish</h1>
          <p class="text-secondary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, ad corrupti ut a aspernatur assumenda voluptate dignissimos asperiores necessitatibus vel dolore exercitationem cumque quis unde nesciunt nihil omnis eaque rem!</p>
          <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi pariatur neque itaque nobis? Quibusdam esse excepturi explicabo laudantium dignissimos velit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatum perferendis obcaecati eos facere quas tenetur excepturi quia mollitia iste!</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="image-cover">
          <img src="../../assets/img/coder-two.jpg" alt="" class="img-thumbnail">
      </div>
    </div>
  </div>
</div>

