<div class="pt-40">
  <h1 class="text-center text-info font-italic">My project works</h1>
  <div class="container">
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div
        fxFlex="33%"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        *ngFor="let project of projects"
      >
        <mat-card class="card-image">
          <img mat-card-image src="{{ project.image_link }}" alt="" />
          <mat-card-content>
            <h2>{{ project.name }}</h2>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
