<div style="padding-top: 80px;">
    <h2 class="text-center text-info font-italic">My project works</h2>
    <div class="container" style="margin-top: 30px;">
        <div class="card-columns">
            
            <div class="card">
                <img class="card-img-top img-size" src="../../assets/img/two.png" alt="">
                <h5 class="card-text">Project one</h5>
                <a href="" class="stretched-link"></a>
            </div>
            <!-- <div class="card">
                <img class="card-img-top img-size" src="../../assets/img/one.jpg" alt="">
                <h5 class="card-text">Project one</h5>
            </div> -->
            <div class="card">
                <img class="card-img-top img-size" src="../../assets/img/three.webp" alt="">
                <h5 class="card-text">Project two</h5>
                <a href="" class="stretched-link"></a>
            </div>
            <div class="card">
                <img class="card-img-top img-size" src="../../assets/img/four.png" alt="">
                <h5 class="card-text">Project three</h5>
                <a href="" class="stretched-link"></a>
            </div>
            <div class="card">
                <img class="card-img-top img-size" src="../../assets/img/five.jpg" alt="">
                <h5 class="card-text">Project four</h5>
                <a href="" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>