<div class="h-100vh">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div class="portfolio-text">
        <h1>Portfolio</h1>
      </div>
      <div fxShow = "true" fxHide.lt-md>
        <a routerLink="" mat-button>About</a>
        <a routerLink="skills" mat-button>Skills</a>
        <a routerLink="projects" mat-button>Projects</a>
        <a routerLink="contests" mat-button>Contest Profile</a>
        <a routerLink="contact" mat-button>Contact</a>
      </div>
      <div fxShow="true" fxHide.gt-sm>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a routerLink="" mat-list-item>About</a>
        <a routerLink="skills" mat-list-item>Skills</a>
        <a routerLink="projects" mat-list-item>Projects</a>
        <a routerLink="contests" mat-list-item>Contest Profile</a>
        <a routerLink="contact" mat-list-item>Contact</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill class="pt-64"><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>
