.mat-toolbar{
    background-color: #343a40!important;
    color: rgb(167, 164, 164);
    position: fixed;
    z-index: 10;
}

.mat-toolbar h1{
    font-size: 30px !important;
    color: rgb(228 164 46);
}

.mat-toolbar-row{
    padding: 0px 50px;
}

.mat-button{
    font-size: 18px;
}

.mat-button:hover{
    text-decoration: none;
    color: inherit
}

.mat-icon{
    color: rgb(228 164 46);
}

.h-100vh{
    height: 100vh;
}

.pt-64{
    padding-top: 64px;
}