.icon-section{
    padding-top: 40px;
    font-size: 20px;
    margin-bottom: 100px;
}

.icon-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-style{
    height: 50px;
    width: 50px;
    border: 2px whitesmoke solid;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 50%;
    transition: all 0.4s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-style:hover{
    border-color: blue;
    transform: scale(0.99);
    text-decoration: none;
}

.contact-title{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.bg-custom{
    color: #9d9d9d;
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
}

.form-section{
    padding-top: 20px;
    padding-left: 50px;
}

.warning-message{
    color:rgb(194, 63, 63); 
    font-size: small;
    padding-left: 40px;
}

mat-form-field{
    width: 100%;
    padding: 5px 60px 0px 40px;
}
mat-label{
    color: #797878;
}
button{
    border-radius: 8px;
    width: 100px;
    font-size: 18px;
    margin-left: 40px;
    margin-top: 5px;
}

.mat-button-disabled:hover{
    cursor: not-allowed;
}
