<div class="bg-custom" fxLayout="row wrap">
  <div class="form-section" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
    <form [formGroup]="queryMessage" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Name*</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
        <p
          class="warning-message"
          *ngIf="
            !queryMessage.get('name').valid && queryMessage.get('name').touched
          "
        >
          Name mustn't be empty
        </p>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email*</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>
        <p
          class="warning-message"
          *ngIf="
            !queryMessage.get('email').value &&
            queryMessage.get('email').touched
          "
        >
          Email mustn't be empty
        </p>
        <p
          class="warning-message"
          *ngIf="
            queryMessage.get('email').value &&
            !queryMessage.get('email').valid &&
            queryMessage.get('email').touched
          "
        >
          Email is not valid
        </p>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Message*</mat-label>
          <textarea
            matInput
            name=""
            id=""
            cols="30"
            rows="10"
            formControlName="message"
          ></textarea>
        </mat-form-field>
        <p
          class="warning-message"
          *ngIf="
            !queryMessage.get('message').valid &&
            queryMessage.get('message').touched
          "
        >
          Message mustn't be empty
        </p>
      </div>
      <div>
        <button
          [disabled]="queryMessage.invalid"
          type="submit"
          mat-raised-button
          color = "primary"
          (click) = "openSnackBar()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div class="icon-section" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
    <div fxLayout="column" fxLayoutAlign="center" style="height: 50vh;">
      <h3 class="contact-title">Around The Web</h3>
      <div class="icon-container">
        <a href="#"><i class="fab fa-facebook-f icon-style"></i></a>
        <a href="#"><i class="fab fa-linkedin-in icon-style"></i></a>
        <a href="#"><i class="fab fa-github icon-style"></i></a>
        <a href="#"><i class="fab fa-instagram icon-style"></i></a>
      </div>
    </div>
  </div>
</div>
