<div class="full-screen bg-dark">
  <div class="" fxLayout="row wrap">
    <div class="description" fxFlex="50%" fxFlex.lt-md = "100%">
      <div
        fxLayout = "column" fxLayoutAlign = "center" fxLayoutAlign.lt-md = "center center"
        [ngClass.lt-md]="{'pt-50':true}"
        [ngClass]="{'pt-190':true, 'pl-30': true}"
      >
        <h4>Hello I'm Debasish</h4>
        <h1>Software Engineer</h1>
        <p >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          amet quae debitis modi provident, aspernatur labore neque possimus
          asperiores dicta.
        </p>
        <div class="cv-link" fxLayout="row" fxLayoutAlign="center center">
          <a href="">Download My CV</a>
        </div>
      </div>
    </div>
    <div fxFlex="50%" fxFlex.lt-md = "100%" fxLayout = "row" fxLayoutAlign = "center">
      <img style="padding-top: 55px;" src="../../../../assets/img/unnamed1.png" alt="">
    </div>
  </div>
</div>
