.description{
    padding: 0px 70px 20px;
}

.full-screen{
    min-height: 100vh;
}

h4{
    color:  rgb(228 164 46);
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-bottom: 15px;
}

h1{
    color: whitesmoke;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

p{
    color: rgb(163, 162, 162);
}

.cv-link{
    width: 150px;
    height: 32px;
    border: 1.3px solid rgb(228 164 46);
    border-radius: 14px;
}

a{
    text-decoration: none;
    color: rgb(228 164 46);
}

.cv-link:hover{
    background: rgb(228 164 46);
    color: whitesmoke;
}

a:hover{
    color: whitesmoke;
}

.pt-50{
    padding-top: 50px;
}

.pl-30{
    padding-left: 30px;
}

.pt-190{
    padding-top: 190px;
}

.bg-dark{
    background-color: #343a40 im !important;
}