<div class="bg-light">
  <div class="container">
    <div
      fxLayout="row wrap"
      fxLayoutGap="20px grid"
      fxLayoutAlign="center center"
    >
      <div
        fxFlex="30%"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        *ngFor="let siteData of sitesData"
      >
        <mat-card class="card-image">
          <img mat-card-image src="{{ siteData.imageLink }}" alt="" />
          <mat-card-content>
            <h2><a routerLink="{{ siteData.route }}"> View profile</a></h2>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
